<div class="footerSupremeContainer">
    <div class="footerMainContainer">
        <div class="container1">
            <a href="/">
                <div class="footerLogo">
                    <img src="https://ik.imagekit.io/onbyl4vyfa/silverline%20assets/logo.png?updatedAt=1737200929196" alt="Silverline logo" />
                </div>
            </a>
            <p class="footerDescription">
                Silverline Inc manufacture and export handmade metal furniture, including coffee, console and side tables. We also create home decor and lifestyle accessories, blending global design with authentic Indian craftsmanship.
            </p>
        </div>
        <div class="container2">
            <p class="container2Heading">Collections</p>
            <div class="container2Links">
                <a href="/products.html?category=furniture&subCategory=side-tables" target="" class="links">
                    <!-- <img src="/assets/facebook.png" width="20" height="20" loading="lazy" /> -->
                    <span>Side Tables</span>
                </a>
                <a href="/products.html?category=furniture&subCategory=coffee-tables" target="" class="links">
                    <!-- <img src="/assets/instagram.png" width="20" height="20" loading="lazy" /> -->
                    <span>Coffee Tables</span>
                </a>
                <a href="/products.html?category=home-decor&subCategory=candles-stands" target="" class="links">
                    <!-- <img src="/assets/linkedin.png" width="20" height="20" loading="lazy" /> -->
                    <span>Candle Stands</span>
                </a>
            </div>
        </div>
        <div class="container3">
            <p class="container3Heading">Resources</p>
            <div class="container3Links">
                <a href="/terms-and-conditions.html" class="links">Terms And Conditions</a>
                <a href="/about-us.html" class="links">About us</a>
                <a href="https://www.hawkflit.com" target="_blank" class="links">Developers</a>
            </div>
        </div>
    </div>
    <div class="copyRightTagline">
        Copyright © 2012-2024 SILVERLINE. All Rights Reserved. Designed and Developed by HawkFlit.
    </div>
</div>
